/**
*
*    VARIABLES
*
*/

/* ====================== */
/*      DEVICES WIDTH     */
/* ====================== */
$hd                 : "and (max-width:1920px) ";    // HD - HDcomputer
$xxxl               : "and (max-width:1620px) ";    // XXXL - xxxcomputer
$xxl                : "and (max-width:1450px) ";    // XXL - xxcomputer
$xl 	            : "and (max-width:1220px) ";    // XL - xcomputer
$lg 	            : "and (max-width:1120px) ";    // LG - computer
$md                 : "and (max-width:980px) ";     // MD - tablet
$sm   	            : "and (max-width:736px) ";     // SM - phoneLand
$xs 	            : "and (max-width:470px) ";     // XS - phonePort
$xxs 	            : "and (max-width:320px) ";     // XXS - xphonePort

/* Min */
$minComputer        : "and (min-width:1120px) ";
$minTablet          : "and (min-width:980px) ";

/* Min / Max */
$tabletMinMax       : "and (min-width:737px) and (max-width:980px) ";
$phoneLandMinMax    : "and (min-width:471px) and (max-width:736px) ";
$phonePortMinMax    : "and (min-width:320px) and (max-width:470px) ";

/* ====================== */
/*         COLORS         */
/* ====================== */

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #312D2E !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $orange !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Page Variables

$sidebar-base-width: 17rem;
